<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--以下是配置服务器SQL Server数据库连接信息-->
    <add name="Data Source" connectionString="127.0.0.1"/>
    <add name="Initial Catalog" connectionString="medexmemrs"/>
    <add name="User Id" connectionString="sa"/>
    <add name="Password" connectionString="MedExSQLServerAdmin"/>
  
    <!--定时器时间，单位：秒-->
    <add name="Timer" connectionString="1"/>

    <!--允许的时间误差，单位：秒-->
    <add name="Deviation" connectionString="10"/>
    
    <!--同步完时间后调用程序，留空表示不调用-->
    <add name="RunEXE" connectionString=""/>
  </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
